<template>
	<div class="app_template">
		<header class="header">
			<div class="header__wrapper">
				<div class="header__items">
					<div class="header__items_item item_svg">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161 34">
							<g>
								<g>
									<g>
										<path
											fill="#201600"
											d="M0 16.083C0 2.383 16-1.55 23.918 6.254c7.935-7.798 23.919-3.88 23.919 9.829v13.892H40.12V16.083c0-5.435-5.212-7.057-8.843-5.598-1.965.79-3.503 2.66-3.503 5.598v13.892h-7.716V16.083c0-5.435-5.208-7.057-8.843-5.598-1.965.79-3.5 2.66-3.5 5.598v13.892H0zm78.694-6.147H63.128c-5.44 0-7.06 5.224-5.6 8.846.79 1.959 2.652 3.5 5.6 3.5h7.909v-7.24h7.716v14.956H63.128c-11.21 0-16.163-10.913-12.735-19.422 1.885-4.69 6.14-8.356 12.735-8.356h15.566z"
										/>
									</g>
									<g>
										<path
											d="M109.142 11.877a3.106 3.106 0 0 1-2.208-.96 3.116 3.116 0 0 1-.862-2.252c-.019-.83.295-1.633.872-2.23a3.093 3.093 0 0 1 2.198-.942 3.132 3.132 0 0 1 2.197.966c.576.6.89 1.406.872 2.24a3.157 3.157 0 0 1-3.07 3.188zm-3.05 1.312v-1.306h.033a3.918 3.918 0 0 0 3.147 1.522 4.64 4.64 0 0 0 4.63-4.725 4.712 4.712 0 0 0-4.662-4.744 3.611 3.611 0 0 0-3.083 1.498h-.032V1.16h-1.695v12.023z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M109.142 11.877a3.106 3.106 0 0 1-2.208-.96 3.116 3.116 0 0 1-.862-2.252c-.019-.83.295-1.633.872-2.23a3.093 3.093 0 0 1 2.198-.942 3.132 3.132 0 0 1 2.197.966c.576.6.89 1.406.872 2.24a3.157 3.157 0 0 1-3.07 3.188zm-3.05 1.312v-1.306h.033a3.918 3.918 0 0 0 3.147 1.522 4.64 4.64 0 0 0 4.63-4.725 4.712 4.712 0 0 0-4.662-4.744 3.611 3.611 0 0 0-3.083 1.498h-.032V1.16h-1.695v12.023z"
										/>
									</g>
									<g>
										<path
											d="M116.821 8.115a2.922 2.922 0 0 1 5.816 0zm7.471 1.3a8.81 8.81 0 0 0 .05-.863 4.6 4.6 0 1 0-9.199.114c0 2.55 2.018 4.745 4.571 4.745a4.571 4.571 0 0 0 4.32-3.05h-1.688a2.88 2.88 0 0 1-2.566 1.512 3.082 3.082 0 0 1-2.959-2.452z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M116.821 8.115a2.922 2.922 0 0 1 5.816 0zm7.471 1.3a8.81 8.81 0 0 0 .05-.863 4.6 4.6 0 1 0-9.199.114c0 2.55 2.018 4.745 4.571 4.745a4.571 4.571 0 0 0 4.32-3.05h-1.688a2.88 2.88 0 0 1-2.566 1.512 3.082 3.082 0 0 1-2.959-2.452z"
										/>
									</g>
									<g>
										<path
											d="M132.599 6.423c.59.609.903 1.434.867 2.282a3.111 3.111 0 0 1-1.508 2.812 3.101 3.101 0 0 1-3.187 0 3.111 3.111 0 0 1-1.509-2.812c0-1.432 1.006-3.221 3.086-3.221.847-.01 1.661.33 2.251.939zm2.526 6.76V4.184h-1.688v1.26h-.033a3.569 3.569 0 0 0-3.056-1.511c-3.233 0-4.777 2.583-4.777 4.777a4.604 4.604 0 0 0 4.777 4.695 3.422 3.422 0 0 0 3.056-1.632h.033v1.41z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M132.599 6.423c.59.609.903 1.434.867 2.282a3.111 3.111 0 0 1-1.508 2.812 3.101 3.101 0 0 1-3.187 0 3.111 3.111 0 0 1-1.509-2.812c0-1.432 1.006-3.221 3.086-3.221.847-.01 1.661.33 2.251.939zm2.526 6.76V4.184h-1.688v1.26h-.033a3.569 3.569 0 0 0-3.056-1.511c-3.233 0-4.777 2.583-4.777 4.777a4.604 4.604 0 0 0 4.777 4.695 3.422 3.422 0 0 0 3.056-1.632h.033v1.41z"
										/>
									</g>
									<g>
										<path
											d="M138.958 4.19v4.872c0 2.21.98 2.811 2.243 2.811 1.41 0 2.355-.894 2.355-2.86V4.19h1.69v9h-1.544v-.98h-.029c-.454.777-1.495 1.201-2.648 1.201a3.817 3.817 0 0 1-2.576-.888c-.765-.653-1.189-1.655-1.189-3.461V4.19z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M138.958 4.19v4.872c0 2.21.98 2.811 2.243 2.811 1.41 0 2.355-.894 2.355-2.86V4.19v0h1.69v9h-1.544v0-.98 0h-.029c-.454.777-1.495 1.201-2.648 1.201a3.817 3.817 0 0 1-2.576-.888c-.765-.653-1.189-1.655-1.189-3.461V4.19v0z"
										/>
									</g>
									<g>
										<path
											d="M149.33 13.183h-1.692V5.725h-1.218V4.184h1.218V1.16h1.691v3.024h1.48v1.54h-1.48z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M149.33 13.183v0h-1.692v0-7.458 0h-1.218v0-1.541 0h1.218v0V1.16v0h1.691v3.024h1.48v1.54h-1.48v0z"
										/>
									</g>
									<g>
										<path
											d="M155.39 16.193h-1.754l1.306-3.187-3.592-8.816h1.819l2.648 6.984 2.713-6.984h1.82z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M155.39 16.193v0h-1.754v0l1.306-3.187v0L151.35 4.19v0h1.819v0l2.648 6.984v0l2.713-6.984v0h1.82v0z"
										/>
									</g>
									<g>
										<path
											d="M109.347 20.672c0 .904-.587 1.303-1.505 1.786-.832-.78-1.029-1.185-1.029-1.708 0-.973.669-1.46 1.275-1.46.351.016.681.17.917.43.235.26.356.603.336.952zm.568 6.142c-.212.392-.88 1.724-2.33 1.724a1.9 1.9 0 0 1-1.39-.577 1.891 1.891 0 0 1-.531-1.405c0-1.43 1.057-2.015 1.711-2.243zm3.96-4.294h-1.9l-1.306 2.648-1.593-1.541c1.577-.78 2.015-1.884 2.015-2.893a3.014 3.014 0 1 0-6.028 0c0 1.14.535 1.737 1.152 2.39a3.664 3.664 0 0 0-2.305 3.429 3.592 3.592 0 0 0 3.67 3.591c2.031 0 3.106-1.508 3.494-2.109l2.097 2.11 1.169-1.186-2.42-2.468z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M109.347 20.672c0 .904-.587 1.303-1.505 1.786-.832-.78-1.029-1.185-1.029-1.708 0-.973.669-1.46 1.275-1.46.351.016.681.17.917.43.235.26.356.603.336.952zm.568 6.142c-.212.392-.88 1.724-2.33 1.724a1.9 1.9 0 0 1-1.39-.577 1.891 1.891 0 0 1-.531-1.405c0-1.43 1.057-2.015 1.711-2.243zm3.96-4.294h-1.9l-1.306 2.648-1.593-1.541c1.577-.78 2.015-1.884 2.015-2.893a3.014 3.014 0 1 0-6.028 0c0 1.14.535 1.737 1.152 2.39a3.664 3.664 0 0 0-2.305 3.429 3.592 3.592 0 0 0 3.67 3.591c2.031 0 3.106-1.508 3.494-2.109l2.097 2.11 1.169-1.186-2.42-2.468z"
										/>
									</g>
									<g>
										<path
											d="M123.977 23.302c-.114-.732-.523-1.091-1.156-1.091a.96.96 0 0 0-1.055.96c0 .731.653.957 1.398 1.169.682.212 2.713.797 2.713 2.939 0 1.59-1.123 2.873-3.023 2.873-1.12 0-3.184-.699-3.184-3.183h1.688c.065 1.025.572 1.632 1.528 1.632a1.195 1.195 0 0 0 1.306-1.234c0-.78-.698-1.074-1.573-1.381-.98-.343-2.538-.813-2.538-2.714 0-1.332 1.124-2.612 2.828-2.612 1.025 0 2.714.653 2.763 2.635z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M123.977 23.302c-.114-.732-.523-1.091-1.156-1.091a.96.96 0 0 0-1.055.96c0 .731.653.957 1.398 1.169.682.212 2.713.797 2.713 2.939 0 1.59-1.123 2.873-3.023 2.873-1.12 0-3.184-.699-3.184-3.183h1.688c.065 1.025.572 1.632 1.528 1.632a1.195 1.195 0 0 0 1.306-1.234c0-.78-.698-1.074-1.573-1.381-.98-.343-2.538-.813-2.538-2.714 0-1.332 1.124-2.612 2.828-2.612 1.025 0 2.714.653 2.763 2.635z"
										/>
									</g>
									<g>
										<path
											d="M132.023 22.228c1.818 0 3.085 1.597 3.076 3.217a3.05 3.05 0 1 1-6.093-.033c0-1.64 1.237-3.184 3.007-3.184zm-4.673 10.694h1.688V28.62h.033c.343.568 1.283 1.524 3.17 1.524 2.858 0 4.549-2.328 4.549-4.613 0-2.404-1.61-4.86-4.663-4.86a3.81 3.81 0 0 0-3.203 1.633h-.033v-1.38h-1.541z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M132.023 22.228c1.818 0 3.085 1.597 3.076 3.217a3.05 3.05 0 1 1-6.093-.033c0-1.64 1.237-3.184 3.007-3.184zm-4.673 10.694h1.688V28.62h.033c.343.568 1.283 1.524 3.17 1.524 2.858 0 4.549-2.328 4.549-4.613 0-2.404-1.61-4.86-4.663-4.86a3.81 3.81 0 0 0-3.203 1.633h-.033v-1.38h-1.541z"
										/>
									</g>
									<g>
										<path
											d="M145.058 23.158c.59.608.903 1.432.868 2.278a3.105 3.105 0 1 1-6.205 0c0-1.427 1.006-3.216 3.086-3.216.847-.01 1.661.33 2.251.938zm2.533 6.752v-8.996h-1.695v1.27h-.033a3.592 3.592 0 0 0-3.056-1.512c-3.233 0-4.777 2.586-4.777 4.777 0 2.39 1.724 4.696 4.777 4.696a3.432 3.432 0 0 0 3.056-1.633h.033v1.398z"
										/>
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width=".5"
											d="M145.058 23.158c.59.608.903 1.432.868 2.278a3.105 3.105 0 1 1-6.205 0c0-1.427 1.006-3.216 3.086-3.216.847-.01 1.661.33 2.251.938zm2.533 6.752v-8.996h-1.695v1.27h-.033a3.592 3.592 0 0 0-3.056-1.512c-3.233 0-4.777 2.586-4.777 4.777 0 2.39 1.724 4.696 4.777 4.696a3.432 3.432 0 0 0 3.056-1.633h.033v1.398z"
										/>
									</g>
									<g>
										<path d="M91.683 1.99v27.68" />
										<path
											fill="none"
											stroke="#000"
											stroke-miterlimit="20"
											stroke-width="1.63"
											d="M91.683 1.99v27.68"
										/>
									</g>
								</g>
							</g>
						</svg>
					</div>
					<div class="header__items_item header__phone">
						<a href="tel:+74992292212" class="header__phone_link"
							>8 499 229-22-12</a
						>
						<span
							class="header__phone_btn"
							@click="toogleModal('Заказать звонок', 'Заказать звонок')"
						>
							Заказать звонок
						</span>
					</div>
				</div>
			</div>
		</header>
		<section class="content" v-if="!$store.state.isModal">
			<div class="content__wrapper">
				<div class="content__items">
					<div class="content__items_item">
						<h1 class="content_title">
							Массаж от профессионалов<br />салона MG Beauty
						</h1>
						<p class="content_subtitle">
							<ul>
								<li>Все виды:</li>
								<li>- классический</li>
								<li>- тайский</li>
								<li>- гидромассаж</li>
								<li>- антицеллюлитный</li>
							</ul>
						</p>
						<p class="content_subtitle">
							Уникальное предложение на первый сеанс массажа за
							<span>
								<i>9</i><i>9</i><i>0</i>
								<svg
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 510.127 510.127"
									width="12"
									height="12"
								>
									<path
										fill="#f3f2f2"
										d="M34.786 428.963h81.158v69.572c0 3.385 1.083 6.156 3.262 8.322 2.173 2.18 4.95 3.27 8.335 3.27h60.502c3.14 0 5.857-1.1 8.152-3.27 2.295-2.166 3.44-4.938 3.44-8.322v-69.572h182.964c3.377 0 6.156-1.076 8.334-3.256s3.262-4.95 3.262-8.336v-46.377c0-3.365-1.082-6.156-3.262-8.322-2.172-2.18-4.957-3.27-8.334-3.27h-182.97v-42.754h123.184c48.305 0 87.73-14.72 118.293-44.2 30.55-29.45 45.834-67.5 45.834-114.125 0-46.604-15.283-84.646-45.834-114.125C410.548 14.75 371.116 0 322.812 0H127.535c-3.385 0-6.157 1.09-8.335 3.256-2.173 2.18-3.262 4.97-3.262 8.335v227.896H34.786c-3.384 0-6.157 1.145-8.335 3.44-2.172 2.295-3.262 5.012-3.262 8.15v53.978c0 3.385 1.083 6.158 3.262 8.336s4.945 3.256 8.335 3.256h81.158V359.4H34.786c-3.384 0-6.157 1.1-8.335 3.27-2.172 2.166-3.262 4.95-3.262 8.322v46.377c0 3.385 1.083 6.158 3.262 8.336s4.95 3.257 8.335 3.257zM199.628 77.18h115.938c25.6 0 46.248 7.485 61.953 22.46 15.697 14.976 23.55 34.547 23.55 58.69 0 24.156-7.852 43.733-23.55 58.69-15.705 14.988-36.354 22.473-61.953 22.473H199.628V77.18z"
									/>
								</svg>
							</span>
							вместо&nbsp;2&nbsp;990
						</p>
						<Form :buttonName="'Записаться на массаж'" />
						<a :href="$store.state.siteUrl" class="content_link"
							>Перейти в Инстаграм</a
						>
					</div>
				</div>
			</div>
		</section>
		<section class="modal" v-if="$store.state.isModal">
			<div class="modal__container" v-if="!$store.state.isSuccess">
				<span class="modal_close close" @click="toogleModal">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						viewBox="0 0 18 18"
					>
						<path
							fill="none"
							stroke="#d9d7d7"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-miterlimit="20"
							stroke-width="1.5"
							d="M1 1l16 16"
						/>
						<path
							fill="none"
							stroke="#d9d7d7"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-miterlimit="20"
							stroke-width="1.5"
							d="M17 1L1 17"
						/>
					</svg>
				</span>
				<div class="modal__content">
					<p class="modal_title">{{ modalTitle }}</p>
					<Form :buttonName="btnName" :title="modalTitle" />
					<span class="modal_linkClose" @click="toogleModal">Закрыть</span>
				</div>
				<p class="modal_alert">
					Оставляя контактную информацию, вы соглашаетесь на обработку
					персональных данных
				</p>
			</div>
			<div class="modal__container" v-else>
				<span class="modal_close close" @click="toogleModal">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						viewBox="0 0 18 18"
					>
						<path
							fill="none"
							stroke="#d9d7d7"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-miterlimit="20"
							stroke-width="1.5"
							d="M1 1l16 16"
						/>
						<path
							fill="none"
							stroke="#d9d7d7"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-miterlimit="20"
							stroke-width="1.5"
							d="M17 1L1 17"
						/>
					</svg>
				</span>
				<div class="modal__content">
					<p class="modal_title">Заявка отправлена!</p>
					<p class="modal_intro">
						В ближайшее время наш менеджер с&nbsp;вами свяжется
					</p>
					<span class="modal_linkClose" @click="toogleModal">Закрыть</span>
				</div>
			</div>
		</section>
	</div>
</template>
<script>
	import Form from "./components/Form";

	export default {
		name: "App",
		data: () => ({
			modalTitle: "",
			btnName: "",
		}),
		methods: {
			toogleModal(title, btn) {
				this.modalTitle = title;
				this.btnName = btn;
				this.$store.state.isModal = !this.$store.state.isModal;
			},
		},
		components: {
			Form,
		},
	};
</script>
<style lang="scss">
	@import "../sass/_mixins.scss";
	@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
	@include resset();

	.app_template {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	body {
		font-family: $font-family;
		line-height: 1.25;
		font-size: rem(16);
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.header {
		box-shadow: inset 0 -1px 0 #dcdbda;
		height: rem(64);
		padding: rem(12) 0;
		box-sizing: border-box;

		&__wrapper {
			@include wrapper();
		}
		&__items {
			@include row-flex();
			justify-content: space-between;
			align-items: center;

			&_item {
				@include col();
			}

			.item_svg {
				height: 2rem;

				svg {
					height: 100%;
				}
			}
		}
		&__phone {
			font-size: rem(12);
			font-weight: 500;
			line-height: 1.33;
			display: flex;
			flex-direction: column;
			align-items: center;

			&_link {
				color: #332d2e;
				font-size: 0.8rem;
			}
			&_btn {
				color: $primary_light;
				border-bottom: dotted rem(2) $primary_light;
			}
		}
	}
	.content {
		flex-grow: 1;

		background-image: url("../images/hero_sm.jpg");
		background-size: cover;
		color: #f3f2f2;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: #141313;
			opacity: 0.5;
		}

		&__wrapper {
			@include wrapper();
		}
		&__items {
			@include row-flex();
			&_item {
				@include col();
				@include size(24);
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				position: relative;
				z-index: 10;
				padding: rem(40) 0;
				//100vh - quizHeader - toolbarSafari
				min-height: calc(100vh - 64px - 108px);

				@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
					min-height: calc(100vh - 64px - 179px);
				}
				@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
					min-height: calc(100vh - 64px - 179px);
				}
			}
		}
		&_title {
			font-size: rem(24);
			font-weight: 700;
			letter-spacing: rem(-0.4);
			line-height: 1.25;
			text-align: left;
			margin-bottom: rem(19);

			span {
				display: inline-block;
			}
		}
		&_subtitle {
			font-size: rem(16);
			line-height: 1.5;
			text-align: left;
			margin-bottom: rem(32);

			span {
				display: inline-block;
				i {
					font-style: normal;
					font-size: rem(24);
					letter-spacing: rem(-0.4);
					line-height: 1.33;
					display: inline-block;
					animation: float 0.3s ease-in-out infinite;

					&:nth-child(2) {
						animation-delay: 0.05s;
					}
					&:nth-child(3) {
						animation-delay: 0.15s;
					}
					&:nth-child(4) {
						animation-delay: 0.3s;
					}
				}
			}
		}
		&_link {
			font-size: rem(16);
			letter-spacing: rem(-0.3);
			line-height: 1.5;
			text-decoration: underline;
			margin-top: rem(24);
		}
		&_btn {
			margin-bottom: rem(8);
		}
	}
	.btn {
		font-family: inherit;
		height: rem(56);
		width: 100%;
		max-width: $break_xs;
		font-size: rem(18);
		letter-spacing: rem(-0.4);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 rem(25);
		border-radius: rem(28);
		border: none;
		box-sizing: border-box;
		cursor: pointer;
		position: relative;
		outline: none;
		overflow: hidden;

		&:after {
			content: "";
			height: rem(155);
			left: rem(-75);
			opacity: 0.2;
			position: absolute;
			top: rem(-50);
			transform: rotate(35deg);
			transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
			width: rem(50);
			z-index: 1;
		}
		/*&:hover {*/
		/*    &:after {*/
		/*        left: 120%;*/
		/*        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);*/
		/*    }*/
		/*}*/

		&_purple {
			color: #fff;
			box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.16);
			background-color: $primary_dark;
			&:after {
				background: #fff;
			}
		}
		&_white {
			color: $primary_dark;
			background-color: #fff;
			border: 1px solid $primary_dark;
			&:after {
				background: $primary_dark;
			}
		}
		&_pulse {
			&::after {
				animation-delay: 0.01s;
				animation-timing-function: ease-in-out;
				animation-name: radiance;
				animation-duration: 2s;
				animation-iteration-count: infinite;
			}
		}
	}

	@keyframes float {
		0%,
		100% {
			transform: none;
		}
		33% {
			transform: translateY(-1px) rotate(-2deg);
		}
		66% {
			transform: translateY(1px) rotate(2deg);
		}
	}

	@-webkit-keyframes float {
		0%,
		100% {
			-webkit-transform: none;
		}
		33% {
			-webkit-transform: translateY(-1px) rotate(-2deg);
		}
		66% {
			-webkit-transform: translateY(1px) rotate(2deg);
		}
	}

	@keyframes radiance {
		0% {
			left: -30px;
			margin-left: 0px;
		}

		30% {
			left: 110%;
			margin-left: 80px;
		}

		100% {
			left: 110%;
			margin-left: 80px;
		}
	}

	.input {
		height: rem(56);
		width: 100%;
		background: #fff;
		box-sizing: border-box;
		outline: none;
		border: solid rem(1) #d9d7d7;
		border-radius: rem(28);
		font-size: rem(18);
		text-align: center;
		line-height: 1.33;
		color: #b3adae;
		padding: 0 rem(16);
		display: flex;
		align-items: center;

		&_field {
			width: 100%;
			max-width: $break_xs;
		}
	}

	.error {
		border-color: red;
		&_wrapper {
			position: relative;
			width: 100%;
			max-width: rem(414);
		}
		&_alert {
			font-size: rem(12);
			text-transform: uppercase;
			color: red;
			position: absolute;
			z-index: 10;
			background-color: #fff;
			right: rem(8);
			top: rem(-8);
			padding: 0 rem(2);
		}
	}

	.modal {
		text-align: center;
		display: flex;
		justify-content: center;
		color: #332d2e;
		&__container {
			max-width: rem(414);
			width: 100%;
			padding: rem(48) rem(24) rem(18) rem(24);
			box-sizing: border-box;
			background-color: #fff;
			transition: all 0.3s ease;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			//100vh - quizHeader - toolbarSafari
			min-height: calc(100vh - 64px - 108px);

			@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
				min-height: calc(100vh - 64px - 179px);
			}
			@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
				min-height: calc(100vh - 64px - 179px);
			}
			.input {
				margin-bottom: rem(16);
			}
			.error_alert {
				top: rem(-24);
			}
		}
		&__content {
			width: 100%;
			margin: auto;
		}
		&_title {
			font-size: rem(32);
			font-weight: 700;
			line-height: 1.25;
			letter-spacing: rem(-0.4);
			margin-bottom: rem(38);
		}
		&_intro {
			font-size: rem(18);
			line-height: 1.25;
			letter-spacing: rem(-0.4);
		}
		&_close {
			position: absolute;
			top: rem(16);
			right: rem(16);
		}
		&_linkClose {
			display: inline-block;
			color: $primary_dark;
			font-size: rem(16);
			letter-spacing: rem(-0.3);
			line-height: 1.5;
			text-decoration: underline;
			margin-top: rem(24);
		}
		&_alert {
			color: #b3adae;
			font-size: rem(12);
			line-height: 1.5;
			margin-top: rem(32);
		}
	}
	.form {
		width: 100%;
		max-width: ($break_xs);

		.btn {
			margin-top: rem(16);
		}
	}
</style>
