<template>
    <form class="form" @submit.prevent="submitForm">
        <div class="input_field">
            <masked-input
                type="tel"
                autocomplete="off"
                placeholder="Ваш телефон"
                class="input"
                :class="{ 'error': !isValid }"
                v-model="$v.phone.$model"
                :mask="{
                    pattern: '\+7 (V11) 111-11-11',
                    formatCharacters: {
                        'V': {
                            validate: char => /[9]/.test(char)
                        },
                    },
                }"
                @focus.native="isValid = true"
            />
            <div v-if="!isValid" class="error_wrapper">
                <span class="error_alert">некорректный телефон</span>
            </div>

        </div>
        <div class="input_field">
            <button class="btn btn_purple"><span>{{buttonName}}</span></button>
        </div>
    </form>
</template>
<script>
    import MaskedInput from 'vue-masked-input'
    import { required, helpers } from 'vuelidate/lib/validators'
    import axios from 'axios';

    //валидация телефона по регулярному вырожению
    const phoneValidat = helpers.regex('phoneValidat', /^(\+)?(\(\d{2,3}\) ?\d|\d)(([ \-]?\d)|( ?\(\d{2,3}\) ?)){5,12}\d$/)

    export default {
        data: () => ({
            phone: '',
            name: '',
            isValid: true
        }),
        props: {
            buttonName: {
                type: String,
                default: 'Заказать'
            },
            title: {
                type: String,
                default: ''
            }
        },
        validations: {
            phone: {
                required,
                phoneValidat
            }
        },
        methods:{
            submitForm() {
                if(this.$v.phone.$invalid){
                    this.isValid = false
                }else{
                    this.isValid = true
                    window.ym(64911397,'reachGoal','quiz')
                    fbq('track', 'Lead')
                    axios.post('/leads', {
                        phone: this.phone,
                        tag: this.$props.buttonName
                    }).then(response => (
                        this.phone = '',
                        this.$store.state.isSuccess = true,
                        this.$store.state.isModal = true,
                        setTimeout(() => {
                            this.$store.state.isSuccess = false
                            window.location.href = this.$store.state.siteUrl
                        }, 3000)
                    ))
                }
            }
        },
        components: { MaskedInput }
    }
</script>
